:root{
  --primary-color: #5683e9;
  --secondary-color: #6b29f0;
  --tertiary-color: #14B8A6;
  --bg-main: #0F172A;
  --bg-card: #1E293B;
  --primary-text: #F8FAFC;
  --secondary-text: #94A3B8;
  --tertiary-text-color: #64748B;
  --gutter-x: 2rem;
  --btn-primary: #5683e9;
  --btn-success: #198754;
  --btn-info: #0dcaf0;
  --btn-danger: #dc3545;
  --btn-secondary: #6c757d;
  --text-xs: 0.75rem;   /* 12px */
  --text-sm: 0.875rem;  /* 14px */
  --text-base: 1rem;    /* 16px */
  --text-lg: 1.125rem;  /* 18px */
  --text-xl: 1.25rem;  /* 20px */
}
html, body {
  margin: 0;
  padding: 0;
  font-family: Univers Bold, Univers Bold Fallback, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
}

.text-xs {
  font-size: var(--text-xs);
}
.text-sm {
  font-size: var(--text-sm);
}
.text-base {
  font-size: var(--text-base);
}
.text-lg {
  font-size: var(--text-lg);
}
.text-xl {
  font-size: var(--text-xl);
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}
h1{
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 10%;
  padding: 0;
}

header {
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-wrap: none;
  position:sticky;
  top:0;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.Brand {
  display: flex;
  align-items: center;
}

.Brand img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: none;
  background-size: cover;
}

.Brand span {
  font-size: 15px;
  font-weight: 600;
}

.nav-items {
  display: flex;
  font-size: var(--text-sm);
}

.nav-links {
  padding-left: 20px;
  padding-right: 20px;
}

.nav-links active {
  padding-left: 0;
}

.contact{
  display: flex;
  align-items: center;
}

.hero{
  background-image: url('https://w0.peakpx.com/wallpaper/199/172/HD-wallpaper-arcihtecture-windows-glass-reflection-building-facade-city.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height:60vh;
  margin: 0;
  padding: 0;
}

.hero-content{
  display: grid;
  height: 75%;
  grid-template-columns: 60%;
  padding-top: 5rem;
}

.btn{
  color: var(--primary-text);
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  max-width: fit-content;
  font-size: var(--text-sm);
}

.btn-primary{
  background-color: var(--btn-primary);
  border-color: var(--btn-primary);
}

.btn-secondary{
  background-color: var(--btn-secondary);
  border-color: var(--btn-secondary);
}

.btn-success{
  background-color: var(--btn-success);
  border-color: var(--btn-success);
}

.btn-info{
  background-color: var(--btn-info);
  border-color: var(--btn-info);
}

.cta{
  margin-top: 2rem;
}
